.header {
  z-index: 2;
  width: 100%;
  position: fixed;
  border-bottom: #babbc5 solid 1px;
  background: transparent;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.logo {
  width: 184px;
  display: block;
  z-index: 1;

  @media screen and (max-width: 768px) {
    width: 104px;
    padding: 21px 0;
  }
}

.navigation {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)),
      url(../assets/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 670px;

  @media screen and (max-width: 1024px) {
    width: 560px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 108px 20px 195px;
  }
}

.navigation__item {
  flex-grow: 1;
  border-bottom: solid 3px transparent;

  &:hover {
    border-bottom-color: #babbc5;
  }

  @media screen and (max-width: 768px) {
    flex-grow: initial;
  }
}

.navigation__item a {
  display: block;
  margin: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    font-size: 13px;
    margin: 0;
  }
}

.header--scrolled {
  border-bottom-color: transparent;
  background-color: rgba(37, 43, 73);
}

.menu-btn {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 4;
  }
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}

.header--burger-opened .menu-btn > span {
  transform: rotate(45deg);
}
.header--burger-opened .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header--burger-opened .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.header--burger-opened .navigation {
  right: 0;
  opacity: 1;
}
