.main {
  padding: 230px 0 120px;
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)),
    url(../assets/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  @media screen and (max-width: 1024px) {
    padding: 257px 0 126px;
  }

  @media screen and (max-width: 768px) {
    padding: 106px 0 52px;
  }
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin-bottom: 32px;
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: 1024px) {
    margin-bottom: 62px;
    font-size: 48px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 33px;
    font-size: 36px;
  }
}

.main__description {
  margin-bottom: 80px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;

  @media screen and (max-width: 1024px) {
    margin-bottom: 89px;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 49px;
    font-size: 14px;
  }
}
