* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Raleway;
  transition: all .3s ease-in-out;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.link-red {
  @extend %link-red;
}